.login-div{
	border-bottom-right-radius: 40px;border-top-left-radius: 40px;border: 1px solid #337ab7;border-bottom-left-radius: 0px;border-top-right-radius: 0px;padding: 20px; font-family:'quicksandlight'; max-width: 90%; margin:0 auto; margin-top: 20px
}

.btn-login-cash-veh{
	width: 85%
}
.btn-login-dash{
	width: 90%
}


.titulo-vista{
	font-size: 22px;
	color: #0060aa;
	font-family: 'quicksandbold' !important;

}
h4 {
	font-family: 'quicksandbold' !important;
}

.col-seccion{
	margin-top: 20px
}

.div-seccion{
	border:1px solid #0060aa
}

.div-sexo{
	padding-top: 13px;
}

.div-agencia{
	height: 150px !important; overflow-y: scroll; text-align: left;
}

.tabla-personal{
	height: 250px; overflow: scroll;
}

.widht-opt-select{
	width: 10px
}

.div-agregar-personal-link{
	margin-top: 15px; margin-bottom: 15px
}

.form-asignar-supervisor{
	margin-top:20px; margin-bottom: 45px
}

.div-personales-agregados{
	margin-top: 60px; padding-bottom: 30px
}

.col-personales-agregados{
	height:120px !important; overflow-y: scroll; text-align: left;
}

.panel-login-recuperar-password-solicitud{
	border-radius: 4px !important;
	border-color: #0060aa !important;

}

.modal-recuperar-password-titulo{
	color:#0060aa; font-size: 18px
}

.nav-active-a{
	color: white !important; background: #0060aa !important;
	border-radius: 0 !important;
    border: 1px solid #0060aa !important;
}

.col-border-filtros-reporte{
	border:2px solid #0060aa; border-bottom: none
}

.col-border-filtros-resultado-reporte{
	border:2px solid #0060aa; border-top:none
}

.tr-header-reporte{
	background: #0060aa; color: white
}

.reporte-texto-total{
	font-size: 18px;
	margin-top: 10px; padding-right: 15px
}

.tabla-reporte{
	height: 150px;overflow: scroll;
}

.tr-cursor-pointer{
	cursor: pointer;
}

.modal-reporte-informacion-solicitud-titulo{
	color: #0060aa
}

.modal-reporte-informacion-solicitud p{
	font-size: 15px
}

.modal-reporte-informacion-solicitud span{
	font-weight: bold
}

.usuario-logueado{
	font-weight: bold;
	font-size: 17px
}

#tabla-usuarios_paginate, #tabla-personal_paginate {text-align: center !important}

#tabla-usuarios, #tabla-personal tr{
	cursor: pointer;
}


@media (max-width: 991px){

	.btn-login-cash-veh, .btn-login-dash{
		width: 82%
	}
}

@media (max-width: 767px){
	.titulo-vista{
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.btn-login-cash-veh, .btn-login-dash{
		width: 100%
	}
}


.btn{
	background-color: #0060aa !important
}

.pagination>.active>a{
	background-color: #0060aa;
	border-color: #0060aa;
}

.buttons-export a{
	background-color: white
}