.color-value {
    background:#86af49;
    color:#fff;
 }
 .color-data {
    color:#005ce6;
 }
 .color-info {
    color:#ccccb3;
 }
 
div.picture1 {
   width:20px; /*width of your image*/
   height:20px; /*height of your image*/
   background-image:url("https://www.google.com.pe/search?biw=1366&bih=662&tbm=isch&sa=1&q=imagenes+faces+happy+icons&oq=imagenes+faces+happy+icons&gs_l=psy-ab.3...7434.8423.0.8678.6.6.0.0.0.0.347.347.3-1.1.0....0...1.1.64.psy-ab..5.0.0....0.rw21_WR84Ug#imgrc=8JJBybriRsNMeM:");
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

.color1 {
    color:#EC971F;
}

body {
    background-image:url(../img/fondos/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    font-family: 'quicksandlight'

}




.imagen-fondo {
    width: 600px;
    position: relative;
    right: 131px;
    top: -49px;
}
.logo {
    max-width: 302px;
}

.panel-primary,
.panel-heading {
    border-top-left-radius: 40px;
}
.panel-primary,
.panel-body{
    border-bottom-right-radius: 40px;
}
.navbar-right{
    padding: 0 200px;
}
.navbar {
    margin-bottom: 0;
}
.button-login button{
    background-color: #4e82bb !important;
    color: #fff;
    border-radius: 20px;
    height: 28px;
    line-height: 16px;
    text-transform: unset;
    padding-right: 1px;
    vertical-align: middle;
    z-index: 1000;
    position: relative;
    left: 53px;
}
.button-login button i{
    background-color: #fff;
    color: #4e82bb;
    border-radius: 50%;
    margin-left: 5px;
}
.container-fluid {
    background-color: #0060aa;
}
.container-fluid.contenedor {
    background-color: #fff;
    height: 40px;
}
.mdi-keyboard_arrow_right {
    color: #005aa6;
}
.form-control {
    margin-left: 10px;
    width: 93%;
    height: 50px;
    font-family: 'quicksandlight';
    
}
.navbar-brand {
    color: #fff;
    font-size: 33px;
    padding: 9px;
    margin: 6px;
    margin-top: 11px;
    margin-bottom: 13px;
    position: relative;
    left: 204px;
}
div.text-left class1{
    color: #fff;
    position: relative;
    bottom: 8px;
    right: 100px;
    top: -6px;
}
@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}

div.text-left{
    /*color: #fff;*/
}
div.checkbox label {
    position: relative;right: -6px;color: black;
    font-family: 'quicksandlight';
}
.input-group {
    width: 100%
}
.btn.btn-lg {
    font-family: 'quicksandbold';
}
.letra_gruesa {
    font-family: 'quicksandbold';
}









/*NUEVO DISEÑO*/
.datos{
    color: #9fa9a3;
    text-align: left;
    padding-left: 15px;
}
.checkbox {
    text-align: left;
    margin-left: 33px;
}
.checkbox label{
    color: #9fa9a3;
}
.container-fluid>.navbar-header{
    margin:3px;
}
.navbar-header{
    width: 100%;
    padding: 0 100px;
    -webkit-transition: padding .5s linear;
    -moz-transition: padding .5s linear;
    -ms-transition: padding .5s linear;
    -o-transition: padding .5s linear;
    transition: padding .5s linear;
    
}
.contenido-header{
    float:left;
    max-width: 320px;
}
.contenido-header h1{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.2;
}
.imagen-header{
    float: right;
    padding: 15px;
}
.imagen-header img{
    max-width: 302px;
}
.row-top{
    margin-top: 50px;
}

@media (max-width : 850px){
    .navbar-header{
        padding: 0 20px;
    }
    .imagen-fondo{
        display:none;
    }
    .row-top{
        margin-top: 75px;
    }
}
@media (max-width : 768px){
    .formulario-1{
        margin: auto;
    }
}
@media (max-width : 700px){
    .navbar-header{
        padding: 0 5px;
    }
    .contenido-header{
        max-width: 235px;
    }
    .imagen-header img{
        max-width: 200px;
    }
    .contenido-header h1{
        font-size: 24px;
    }
    .button-login button{
        margin-top: -44px;
        margin-left: 112px;
    }
}
@media (max-width : 550px){
    .imagen-header img{
        max-width: 140px;
    }
    .contenido-header h1{
        font-size: 18px;
    }
    .contenido-header{
        max-width: 175px;
    }
    .imagen-header{
        padding: 20px 0
    }
}
@media (max-width : 420px){
    .imagen-header img{
        max-width: 115px;
    }
    .contenido-header h1{
        font-size: 15px;
    }
    .contenido-header{
        max-width: 145px;
    }
    .imagen-header{
        padding: 20px 0
    }
    .robot,
    .consultar{
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }
}
.estilos_tabs {
    color: #fff;
    background-color: #007ac0;
    font-family: 'quicksandlight';
}
.juntar {
    padding-left: 0px;
    margin-left: -49px;
}
.unir {
    margin-left: -340px;
}
.ml-170 {
   margin-left: -170px;
   margin-top: -3px;
}

a {
    color: #fff;
    font-weight: 500;
    background-color: #007ac0;
}

.tipo_letra {
    font-family: 'quicksandlight';
}
.modal-title {
    text-align: center;
    color: #007ac0 !important;
    font-size: 20px;
    font-family: 'quicksandregular';
}
.negrita {
    font-family: 'quicksandbold';
}
a {
    cursor:pointer; cursor: hand
}
.alinear {
    margin-left: 37px;
}
.apegar {
    margin-left: -25px;
}




h1,h2,h3,h4,h5,a{
    font-family: 'quicksandlight';
}

.font-bold{
 font-family: 'quicksandbold';   
}



.img-form-vehicular{
    background: url(/public/img/fondos/creedito-Vehicular.png);
    background-size:100% auto;
    height: 580px;
    background-repeat: no-repeat;
}

.img-form-cash{
    background: url(/public/img/fondos/Credito-Consumo.png);
    background-size:100% auto;
    height: 580px;
    background-repeat: no-repeat;
}

.row-form-img{
    margin-top: 20px
}

.flecha-caracteristicas{
    color:#005aa6
}

.espacio-top-bottom{
    padding-top: 5px; padding-bottom: 5px;
}

.espacio-top{
    padding-bottom: 5px;
    padding-top: 0px;
}


#ocultarCaract .panel-heading{
    background-color: #007ac0;
    border-top-left-radius: 0;
}

#ocultarCaract .panel-heading a{
    color: white
}

.mas-caracteristicas{
    padding-bottom: 15px
}