.container-fluid {
	background-color: #1C4485;
}
.navbar-brand {
	color: #fff;
    font-size: 33px;
    padding: 9px;
    margin: 6px;
    margin-top: 11px;
    margin-bottom: 13px;
    position: relative;
    left: 204px;
}

panel-primary,
.panel-body{
	border-bottom-right-radius: 40px;
}
.navbar-right{
	padding: 0 200px;
}

div.row.row1 {
	background-color:#fff;
	color:#1C4485; 
	padding:5px 15px;
}

/*h1{
    font-size: 34px;
    color: #fff;
    padding-left: 167px;
    font-family: 'quicksandlight';
}*/
/*h6 {
	color: #fff;
    font-size: 16px;
    /* margin: 2px; */
    /*text-align: center;
    position: relative;
    top: 20px;
    right: -25px;
    font-family: 'quicksandlight';
}*/

/*h3 {
	color: #fff;
	font-size: 30px;
	margin: 7px;
	text-align: center;
    position: relative;
    left: 81px;
    font-family: 'quicksandregular';
}*/
.logo {
	height: 97px;
	width: 302px;
	position: relative;
	top: 10px;
	max-width: 302px;
    cursor: pointer;
}
.modal-body {
	text-align: left;
    margin-left: 40px;
    padding: 0px;
    font-size: 12px;
}
.modal-content {
	border-radius: 12px;
}

/*ESTILOS-GENERALES*/
.title-prestamo{
	font-size: 36px;
	color: #015FA9;
    font-family: 'quicksandbold';
}
label {
    font-family: 'quicksandlight';
}
.card-border{
	border: 2px solid #015FA9;
    padding: 30px 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
label {
    font-family: 'quicksandlight';
}
p {
    font-family: 'quicksandbold';
}
span {
    font-family: 'quicksandlight';
}
.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    width: 150%;
    border: 1px solid #D3D3D3;
    height: 10px;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
a {
    cursor:pointer; cursor: hand
}