h2 {
	text-align: left;
}
.logo {
	height: 97px;
	width: 302px;
	position: relative;
	top: 10px;
	max-width: 302px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container-fluid {
	background-color: #0060aa;
    height: 132px;
}
.cuadro {
	width: 100%;
    margin-top: 100px;
	border: 2px solid #015FA9;
    padding: 20px 40px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.navbar-brand {
	color: #fff;
    font-size: 33px;
    padding: 9px;
    margin: 6px;
    margin-top: 11px;
    margin-bottom: 13px;
    position: relative;
    left: 204px;
}
panel-primary,
.panel-body{
	border-bottom-right-radius: 40px;
}
.navbar-right{
	padding: 0 200px;
}
div.row.row1 {
	background-color:#fff;
	color:#1C4485; 
	padding:5px 15px;
}
h6 {
	color: #fff;
    font-size: 16px;
    /* margin: 2px; */
    text-align: center;
    position: relative;
    top: 10px;
    left: -31px;
}
h3 {
	color: #fff;
    font-size: 36px;
    margin: 7px;
    text-align: center;
    position: relative;
    left: 79px;
}