body{
    font-family: 'quicksandlight' !important;
}

/*p,span,h1,h2,h3,h4,h5,a{
    font-family: 'quicksandlight' !important;
}*/
a {
    cursor: pointer;
    cursor: hand;
}
.close.btn-close {
	background-color: black;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    opacity: 1;
    position: relative;
    bottom: 20px;
    left: 25px;
    border: 2px solid #fff;
}
/*Modales*/
.modal-content {
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal-title {
	text-align: center;
    font-weight: bold;
    color: #007ac0 !important;
    font-size: 20px;
    font-family: 'quicksandbold' !important;
    width: 94%;
    border: 1px solid #007ac0;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    padding-bottom: inherit;
    margin: auto;
}
.bs-example .form-group {
    margin-left: 15px;
}
.modal-body {
	height: 470px;
    overflow-y: auto;
}
.modal-body.resumen {
	height: 370px;
    overflow-y: auto;
}
.modal-body.otros{
	height: 200px;
    overflow-y: auto;
    width: 85%;
    margin-top: -25px;
}
.modal-body.preaprobacion-modal{
    height: 240px;
    overflow-y: auto;
}
.modal-body.celular{
	height: 188px;
    overflow-y: auto;
    border: 1px solid #007ac0;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    width: 85%;
    margin-left: 80px;
    margin-top: -20px;
}
.modal-body.text-center.modal-reporte-informacion-solicitud {
    height: 370px;
    overflow-y: auto;
}
.modal-footer {
}
.modal-body.celular .bs-example{
    margin-top: -20px;
}
.modal-body.otros .bs-example .form-group {
	margin-left: 25px;
	margin-top: 35px;
}
.modal-body.otros .bs-example .form-group p{
	color:#808080;
    margin: 1px;
    font-size: 18px;
}
.modal-body.preaprobacion-modal .bs-example .form-group p{
    color:#808080;
    margin: 1px;
    font-size: 18px;
}
.modal-header {
	border-bottom-color: transparent;
}
.modal-footer {
	border-top: transparent;
}
.table-responsive.ocultar {
	margin-top: 20px;
	display: block;
}
.modal-dialog.modal-lg.centrar {
	margin-top: 150px;
}
.modal-dialog.modal-lg.centrar_logo {
    margin-top: 115px;
}
.modal-dialog.modal-lg.medio {
    margin-top: 132px;
}
.modal-dialog.modal-md.centrar {
	margin-top: 150px;
}
.table-responsive.ocultar p{
	margin-bottom: 0;font-size: 19px;color:#808080;text-align: center;
}
/*Modales*/
/*Botones*/
.btn.btn-lg.botones{
	background-color: #005aa6;
    color: #fff;
    font-size: 16px;
    width: 125px;
    height: 51px;
    padding-top: 12px;
    font-family: 'quicksandbold' !important;
}
.btn.btn-lg.botones-codigo{
	background-color: #005aa6;
    color: #fff;
    font-size: 16px;
    width: 165px;
    height: 51px;
    padding-top: 12px;
    font-family: 'quicksandbold' !important;
}
/*Botones*/
/*Titles*/
.sub-title {
	font-weight: bold;
    font-size: 20px;
    color: #1C4485;
    border-radius: 10px;
    font-family: 'quicksandlight' !important;
}
.title-general{
    font-size: 30px;
    color: #015FA9;
    font-family: 'quicksandbold' !important;
}
.panel-title.subtitle { 
	font-size: 25px;
    color: #1C4485;
    font-family: 'quicksandbold';
 }
/*Titles*/
/*Crd-Border*/
.card-border{
	border: 2px solid #015FA9;
    padding: 20px 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.linea {
    border-right: 1px solid #a3a4a6;
}


/*Card-Border*/
/*Tipo de letra*/
p,label,span {
	font-family: 'quicksandlight';
}
.form-control {
	font-family: 'quicksandlight';
}
.link {
	color: #005aa6;
	float: right;
	margin-top: -0px;
	margin-right: 20px;
}
.btn-aceptar {
	background-color: #005aa6;
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'quicksandbold' !important;
    float: right;
    margin-top: -70px;
    margin-right: 30px;
}
/*Tipo de letra*/
/*Otros*/
.mdl-card.cuadro h1 {
    font-size: 18px;
}


.negrita {
    font-weight: bold;
    font-family: 'quicksandbold';
}
.light {
    font-family: 'quicksandregular';
}
.ajustar {
    padding-top: 0px !important;
    margin: 0;
}

.dropdown-menu-user{
    padding-right: 15px
}

.dropdown-menu-user li a{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:visited, .dropdown-toggle:focus {
 background-color: #0060aa !important;
 color: #fff !important;
}
.container.max-width-950 p,span{
    font-weight: bold;
}
/*.col-md-12.margin-ajax-valores p,span{
    font-weight: bold;
    font-family: 'quicksandregular' !important;
}*/
.table-responsive.ocultar .center {
    margin-left: -55px;
    margin-top: 15px;
}
.bs-example.form-group {
    margin-top: 40px;
}
/*fin Otros*/
