/* NAVEGACION */

.usuario-logueado{
    font-size: 17px;
}

.div-navegacion{
    padding-bottom: 10px;
    padding-top: 10px;
}

.navegacion-a{
 background: none;   
}


/* HEADER MI CASH */

h1{font-family: 'quicksandlight' !important;}

.container-header{
    background-color: #0060aa;
}

.padding-div-row-header{
    padding-top: 10px;padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.title-header{
    color: #FFFFFF;
    font-size: 32px;
    line-height: 1;
    /*margin-top: 13px;
    margin-bottom: 5px;*/
}

.title-header a, .title-header-first a, .title-header-second a{
  text-decoration: none !important;
  background-color: #0060aa !important;
  position: relative;
  z-index: 500;
}

.title-header a, .title-header a:link, .title-header a:visited, .title-header a:active, .title-header a:hover,
.title-header-first a, .title-header-first a:link, .title-header-first a:visited, .title-header-first a:active, .title-header-first a:hover,
.title-header-second a, .title-header-second a:link, .title-header-second a:visited, .title-header-second a:active, .title-header-second a:hover {
  text-decoration: none !important;
  color: white !important;
}

.div-logo h1 a{
  text-decoration: none !important;
  background-color: #0060aa !important;
  position: relative;
  z-index: 500;
}

.div-logo h1 a, .div-logo h1 a:link, .div-logo h1 a:visited, .div-logo h1 a:active, .div-logo h1 a:hover {
  text-decoration: none;
  color: white !important;
}



.title-header-one-line{
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 10px;  
}

.title-header-second{
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 0;
}

.title-header-first{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 0;
}

.img-header, .img-header-no-navbar{
    width: 300px;
}

@media (min-width: 700px) and (max-width: 1199px) { 

 }

@media (max-width: 991px) { 

    /*.row-form-img{
        margin-top: 0px !important

    }*/
 }

  

 @media (max-width: 710px) { 
 }

 @media (max-width: 700px) { 

  /*.title-header {
        font-size: 24px !important;
    }*/

    .title-header{
        /*margin-top: 3px;*/
    }

 }

  @media (max-width: 610px) { 

    /*.title-header {
        font-size: 24px !important;
    }*/

 }

@media (max-width: 635px) {
    .title-header, .title-header-one-line, .title-header-first, .title-header-second {
        display: none;
    }
    .div-logo{
        width: 100%
    }
    .div-logo img{
        margin: auto;
        float: none !important;
        width: 50% !important;
    }
    .div-logo h1{
        display: block !important;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        margin-top: 10px
    }
    .padding-div-row-header{
        display: block
    }
}

/*FIN HEADER MI CASH */


/** NAVBAR COLLAPSE **/

.navbar-default{
  min-height: 0; border: none
}

.custom-menu-collapse{
  background: #0060aa; border: 1px solid #0060aa !important;
}

.custom-menu-collapse ul li a{
  color:white !important;
}

.custom-menu-collapse ul li a{
  background: #0060aa
}

.navbar-header{
  margin-top: -50px
}

.navbar{
   margin-bottom: 0px}

.btn-collapse{
  top: -30px;
  background-color: white
}
  @media (min-width : 768px) {
   .navbar-collapse.custom-menu {
        display: none !important
    }
  .navbar-default{
    display: none !important
  }

}

@media (max-width: 767px) {
  .img-header{
        margin-right: 60px
  }
  .title-header, .title-header-second, .title-header-one-line {
        font-size: 24px !important;
    }
}

@media (max-width: 635px) {
  .titles-header{
    display: none
  }
  .img-header-s{
    margin: auto;
  }

  .btn-collapse{
    top: -40px !important
  }

}
