body{
	font-family: 'quicksandlight';
}

span,p{

	font-family: 'quicksandlight';
}

.container-simulador{
	margin-bottom: 20px;
}

.font-bold{
	font-family: 'quicksandbold' !important;
}
.font-regular{
	font-family: 'quicksandregular' !important;
}

.titulo-simulador{ 
	font-size: 30px;
    color: #015FA9;
    line-height: 35px;
    margin-top: 0
}

.titulo-simulador span{
	font-weight: lighter;
}

.slider-value{
	margin-top: 30px;
	border: 1px solid #ecdbdb;
}

.padding-left{
	padding-left: 0
}

.padding-right{
	padding-right: 0
}

.icon-info{
	font-size: 18px;
    position: absolute;
    padding-left: 5px;  
    padding-top: 1px;
}

.margin-top{
margin-top: 40px
}

.div-ajax-valores{
	 border: 1px solid #1C4485;
	 border-bottom-right-radius: 50px;
	 border-top-left-radius: 50px;
	 border-width: 2px; 
	 color: #1C4485 !important;
	 /*width: 75%;*/
}

.margin-ajax-valores{
	 margin: 10px
}

.titulo-ajax-valores{
	font-size: 18px;padding: 0px;margin: 5px;color: #0060aa;
}

.valor-ajax-valores{
	font-size: 30px;
	color: #0060aa;
}

.letra-chica{
	color:#A9A9A9;font-size: 11px;
}

.margin-top-btn{
	margin-top: 10px
}

.btn-text-ampliar{
	background-color: #bdbebf;
	color: #fff;font-size: 17px;
	/*width: 170px;*/
	width: 90%;
	height: 51px;
	padding: 1px;
	font-family: quicksandbold;
	margin-left: 22px;
}

.btn-text-siguiente{
    background-color: #1C4485;
    color: #fff;
    font-size: 16px;
    /*width: 170px;*/
    width: 90%;
    /*margin-left: -85px;*/
    height: 51px;
    padding-top: 12px;
    font-family: 'quicksandbold' !important;
    margin-right: 20px;
}

.btn.focus, .btn:focus, .btn:hover{
	color: white;
}

.modal-div-text p{
	margin-bottom: 0;
    font-size: 19px;
    color: #808080;
    text-align: center
}

.modal-div-numbers{
	padding-top: 20px; padding-bottom: 10px
}

.modal-div-numbers input{
	width: 50px;font-family: 'quicksandlight'
}

.modal-celular{
	height: 188px;
    border: 1px solid #007ac0;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    width: 94%;
    margin: auto;
}

.modal-reporte-agente{
	height: 110px;
    border: 1px solid #007ac0;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    width: 94%;
    margin: auto;
}

.div-ubicacion {
    border: 2px solid #015FA9;
    padding: 20px 40px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.div-ubicacion h1, .div-ubicacion span{
    font-size: 17px
}

@media (max-width: 767px) { 

   .linea{
   		border: none
	}
	.modal-celular{
		width: 100%
	}
	.div-ubicacion{
		padding: 20px 20px;
	}
	.div-ubicacion h1, .div-ubicacion span{
    	font-size: 18px
	}
	.row-container-resumen{
		margin-top: 0 !important
	}
}

@media (min-width: 300px) and (max-width: 992px) { 
	.text-center.form-horizontal .col-xs-12.col-md-7 {
    	padding-top: 0 !important;
	}
 		}
@media (max-width: 699px) { 

   .titulo-simulador{
	font-size: 24px;
	line-height: 28px;

	}
}

@media (max-width: 635px) { 

	.div-ajax{
		margin-left: 0;
	    float: none;
	    width: 100%;
	}

	.btn-text-ampliar, .btn-text-siguiente{
		width: 135px !important;
	}
}
/*.margin-ajax-valores p,span{
    font-weight: bold;
}*/
