files:
 "/etc/httpd/conf.d/vhosts.conf":
   mode: "000644"
   owner: root
   group: root
   content: |
     #
     # Use name-based virtual hosting.
     #
     NameVirtualHost *:80
     #
     # NOTE: NameVirtualHost cannot be used without a port specifier
     # (e.g. :80) if mod_ssl is being used, due to the nature of the
     # SSL protocol.
     #

     <VirtualHost *:80>
       ServerName prymeracreditos-env.efwrzdgyhk.us-east-1.elasticbeanstalk.com
       DocumentRoot /var/www/html
       <Directory /var/www/html>
        AllowOverride All
        order allow, deny
        allow from all
       </Directory>
     </VirtualHost> 
