@font-face {
   font-family: 'quicksandregular';
   src: url('quicksand/Quicksand-Regular.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'quicksandheavy';
   src: url('quicksand/Quicksand-Heavy.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'quicksandheavyitalic';
   src: url('quicksand/Quicksand-HeavyItalic.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'quicksandbold';
   src: url('quicksand/Quicksand-Bold.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'quicksandlight';
   src: url('quicksand/Quicksand-Light.otf');
   font-weight: normal;
   font-style: normal;
}
h1 {
	font-family: Quicksand;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Quicksand;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Quicksand;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Quicksand;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Quicksand;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}